<!DOCTYPE html>
<html>
<head>
    <!-- <title>#{get 'title' /}</title> -->
    <title>VIVAR - VILLANUEVA ENTERPRISES </title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/vvelogo.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<style>
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 109px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

</style>
<body>
<div class="container">
    <img src="/public/images/282315_576468935708276_792983027_n.jpg" alt="" width="1130" height="180" align="center">
    <div class="title">
        <marquee behavior="scroll" direction="left"><p> VIVAR-VILLANUEVA ENTERPRISES | PRINTING SERVICES AND CORPORATE GIVEAWAYS...... </p></marquee>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@{Application.index()}">Home</a></li>
                    <li><a href="@{Application.aboutus()}">Company Profile</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Product <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.ts()}">Customize T-Shirt Printing / Corporate Giveaways</a></li>
                            <li><a href="@{Application.f_fragrance()}">Fragrance</a></li>
                            <li><a href="@{Application.cloth()}">Clothing Product</a></li>
                            <li class="divider"></li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropbtn">Beauty Product</a>
                                <div class="dropdown-content">
                                    <a href="@{Application.nuskin()}"><span style="color:orange">NuSkin Product</span></a>
                                    <a href="@{Application.HN()}"><span style="color:orange">Human Heart Nature</span></a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                     <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                </ul>

            </div>
        </div>
    </nav>
</div>
<div class="container">
    <h2>UNDER MAINTENANCE</h2>
</div>


<footer>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@{Application.aboutus()}">About Us</a></li>
                        <li><a href="@{Application.contactus()}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</footer>

</body>
</html>
