<!DOCTYPE html>
<html>
      <head>
       <!-- <title>#{get 'title' /}</title> -->
        <title>VIVAR - VILLANUEVA ENTERPRISES </title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/vvelogo.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=2">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </head>
    <style>
            ul.breadcrumb {
            padding: 8px 16px;
            list-style: none;
            background-color: #eee;
            }
            ul.breadcrumb li {display: inline;}
            ul.breadcrumb {position:absolute; left:500px;top:90px;}
            ul.breadcrumb li+li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
            }
            ul.breadcrumb li a {color: green;}
    </style>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    }
    </style>
      <style>
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 109px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

</style>
      <body>
        <div class="container">
                <!--<img src="/public/images/282315_576468935708276_792983027_n.jpg" alt="" width="1130" height="180" align="center">-->
                <div class="title">
                <marquee behavior="scroll" direction="left"><p> VIVAR-VILLANUEVA ENTERPRISES | PRINTING SERVICES AND CORPORATE GIVEAWAYS...... </p></marquee>
               </div>
        </div>
         <div class="container">
            <nav class="navbar navbar-inverse">
                       <div class="container-fluid">
                           <div>
                               <ul class="nav navbar-nav">
                                   <li class="active"><a href="@{Application.index()}">Home</a></li>
                                   <li><a href="@{Application.aboutus()}">Company Profile</a></li>
                                   <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Product <span class="caret"></span></a>
                                       <ul class="dropdown-menu">
                                           <li><a href="@{Application.ts()}">Customize T-Shirt Printing / Corporate Giveaways</a></li>
                                           <li><a href="@{Application.f_fragrance()}">Fragrance</a></li>
                                           <li><a href="@{Application.cloth()}">Clothing Product</a></li>
                                           <li class="divider"></li>
                                           <li class="dropdown">
                                               <a href="javascript:void(0)" class="dropbtn">Beauty Product</a>
                                               <div class="dropdown-content">
                                                   <a href="@{Application.nuskin()}"><span style="color:orange">NuSkin Product</span></a>
                                                   <a href="@{Application.HN()}"><span style="color:orange">Human Heart Nature</span></a>
                                               </div>
                                           </li>
                                       </ul>
                                   </li>
                               </ul>
                               <ul class="nav navbar-nav navbar-right">
                                  <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                               </ul>
                           </div>
                       </div>
            </nav>
         </div>

            <ul class="breadcrumb">
                <li class="active"><a href="@{Application.customts()}">Custom TShirt Printing</a></li>
                <li><a href="@{Application.f_fragrance()}">Fragrance</a></li>
            </ul>

        <div class="container">
             <span stlye=""> <h2>T-Shirt Printing Services</h2>
              <p>Click on the images to see it in full size:</p>
                  <div class="row">
                        <div class="col-md-3">
                          <a href="/public/images/ts/156269_424998107522027_1244794409_n.jpg" class="thumbnail">
                            <p></p>
                            <img src="/public/images/ts/156269_424998107522027_1244794409_n.jpg" alt="Pulpit Rock" style="width:100px;height:100px">
                          </a>
                        </div>
                        <div class="col-md-3">
                          <a href="/public/images/ts/321386_576463109042192_1644956803_n.jpg" class="thumbnail">
                            <p></p>
                            <img src="/public/images/ts/321386_576463109042192_1644956803_n.jpg" alt="" style="width:100px;height:100px">
                          </a>
                        </div>
                        <div class="col-md-3">
                          <a href="/public/images/ts/417578_348470455174793_333014577_n.jpg" class="thumbnail">
                            <p></p>
                            <img src="/public/images/ts/417578_348470455174793_333014577_n.jpg" alt="" style="width:100px;height:100px">
                          </a>
                        </div>
                        <div class="col-md-3">
                          <a href="/public/images/ts/553406_424998310855340_1991854217_n.jpg" class="thumbnail">
                            <p> </p>
                            <img src="/public/images/ts/553406_424998310855340_1991854217_n.jpg" alt="" style="width:100px;height:100px">
                          </a>
                        </div>
                  </div>
             </span>
        </div>

        <div class="container">
           <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
              <!-- <ol class="carousel-indicators">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                   <li data-target="#myCarousel" data-slide-to="3"></li>
                   <li data-target="#myCarousel" data-slide-to="4"></li>
                   <li data-target="#myCarousel" data-slide-to="5"></li>
               </ol>-->

               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                   
                   <div class="item active">
                       <img src="/public/images/TS/tarp1.jpg" alt="">
                       <div class="carousel-caption">
                       <h3>Tarp</h3>
                       </div>
                   </div>
                   <div class="item">
                      <img src="/public/images/TS/tarp2.jpg" alt="" align="center">
                       <div class="carousel-caption">
                         <h3>Tarp</h3>
                       </div>
                   </div>
                   <div class="item">
                           <img src="/public/images/TS/tarp3.jpg" alt="" width="1120" height="180">
                       <div class="carousel-caption">
                          <h3>Tarp</h3>
                       </div>
                   </div>
                   <div class="item">
                       <img src="/public/images/TS/tarp4.jpg" alt="">
                       <div class="carousel-caption">
                          <h3>Tarp</h3>
                       </div>
                   </div>
                   <div class="item">
                       <img src="/public/images/TS/tarp5.jpg" alt="">
                       <div class="carousel-caption">
                         <h3>Tarp</h3>
                       </div>
                   </div>
                   <div class="item">
                       <img src="/public/images/TS/binyag -design1.jpg" alt="">
                       <div class="carousel-caption">
                           <h3>Invitation</h3>
                       </div>
                   </div>
                   
          </div>
               <!-- Left and right controls -->
               <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
               </a>
        </div>
      </div>


    <footer>
    <div class="container">
      <nav class="navbar navbar-inverse">
             <div class="container-fluid">
                  <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@{Application.aboutus()}">About Us</a></li>
                        <li><a href="@{Application.contactus()}">Contact Us</a></li>
                    </ul>
                    </div>
             </div>
        </nav>

    </div>
    </footer>

</body> 
</html>
